.campaign_container-fluid {
    /* margin-top:3vw; */
    background-color: #FFF6F1;
    height: 70vw;
    overflow: hidden;
    margin-top: -1.7vw;
}
.sticky {
    position: -webkit-sticky;
    position: sticky;
    float: right;
    /* top: 10px; */
    background-color: #F26727;
    font-size: 20px;
    color: white;
    z-index: 10;
    width: 275px;
    height: 30px;
    font-family: 'Proxima Nova';
    border-radius: 10px;
    text-align: center;
    animation-duration: 7s;
    animation-iteration-count: 1;
  }
  
  @keyframes example {
      /* 0%   {background-color:#F26727; left:0px; top:0px;} */
      /* 25%  {background-color:#F26727; left:100%; top:0px;} */
    }
  
.content-political {
    text-align: center;
    font-family: 'DM Serif Display';
    font-style: normal;
    font-weight: 400;
    font-size: 4.166vw;
    color: #056B38;
    position: relative;
    top: 3vw;

}

.content-political-description {
    font-family: 'DM Serif Display';
    font-style: normal;
    font-weight: 400;
    font-size: 2.4vw;
    text-align: center;
    color: #518E70;
    margin-top: 2vw;
}

.camp_pain {
    margin-top: 3vw;
}

.com_img {
    width: 9.722vw;
    height: 9.930vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.headingElipse {
    text-align: center;
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 600;
    font-size: 1.73611vw;
    line-height: 2vw;
    margin-top: 2vw;
    color: #000000;
}

.headingDescription {
    text-align: center;
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 600;
    font-size: 1.3888vw;
    line-height: 1.666vw;
    color: #656565;
    margin:10px;
}

.abbreviations {
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 600;
    font-size: 1.25vw;
    line-height: 1.5277vw;
    text-align: center;
    color: #F26727;
}

@media only screen and (min-width:280px) and (max-width:600px) {
    .campaign_container-fluid {
        /* background-color: #FFF6F1; */
        /* height: 300vw; */
        /* background-color: red; */
        height: auto;
    }

    .content-political {
        text-align: center;
        font-family: 'DM Serif Display';
        font-style: normal;
        font-weight: 400;
        font-size: 9.722vw;
        line-height: 13.33vw;
        color: #056B38;
        position: relative;
        top: 5vw;

    }

    .content-political-description {
        font-family: 'DM Serif Display';
        font-style: normal;
        font-weight: 400;
        font-size: 5.55vw;
        line-height: 7.5vw;
        text-align: center;
        color: #518E70;
        margin-top: 2vw;
    }

    .camp_pain {
        /* margin-top: 6vw; */
    }

    .com_img {
        width: 27.77vw;
        height: 27.77vw;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5vw;
    }

    .headingElipse {
        font-family: 'Proxima Nova';
        font-style: normal;
        font-weight: 600;
        font-size: 6.11vw;
        line-height: 7.5vw;
        color: #000000;
        margin-top: 2vw;
    }

    .headingDescription {
        font-family: 'Proxima Nova';
        font-style: normal;
        font-weight: 600;
        font-size: 4.44vw;
        line-height: 5.277vw;
        text-align: center;
        color: #656565;
    }

    .abbreviations {
        font-family: 'Proxima Nova';
        font-style: normal;
        font-weight: 600;
        font-size: 4.44vw;
        line-height: 5.27777vw;
        text-align: center;
        color: #F26727;
    }

}

@media only screen and (min-width:768px) and (max-width:912px) {

    .campaign_container-fluid {
        /* margin-top:3vw; */
        background-color: #FFF6F1;
        height: 73vw;
        overflow: hidden;
        margin-top: -1.7vw;
    }
}