.Contact {
    overflow: hidden;
    margin-top: 3.4vw;
    height: 42vw;
}

.content-Contact {
    font-family: 'DM Serif Display';
    font-style: normal;
    font-weight: 400;
    font-size: 4.166vw;
    text-align: center;
    color: #056B38;
}

.embed-responsive {
    display: flex;
    justify-content: center;
    margin-left: 2vw;
    margin-top: 4vw;
   
}

#contact-right-div {
    margin-top: 13vw;
    margin-left: -70px;
}

.iframe{
   width:32vw;
   height:26.1979vw;
   display: flex;
   position: relative;
   left:5vw;
 
}
.infoText {
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 600;
    font-size: 1.388vw;
    line-height: 1vw;

    color: #656565;

}

@media only screen and (min-width:768px) and (max-width:920px) {
    #loc {
       margin-top:-20px;
    }
    #loc{
        margin-left:25px;
    }
    #info{
        margin-left:25px;
    }
     #te{
        margin-top:-20px;

    }
    .infoText{
        font-size: 1.8vw;
    }
    #te{
        margin-top:-4vw;
    }
}
@media screen  and (max-width:600px) {
    .Contact{
        margin-top:80vw;
        height:auto;
    
    }
    .content-Contact{
        font-family: 'DM Serif Display';
    font-style: normal;
    font-weight: 400;
    font-size: 9.7222vw;
    line-height: 13.3333vw;
    text-align: center;
    color: #056B38;
    }
    
    
    .contact_img{
        margin-left:22vw;;
        width:5.99444vw;
        height:8.563888vw;
    }
    #loc{
        display: flex;
        position: relative;
        left:17vw;
        top:6vw;
    }
    #info{
        margin-top:40px;
        position:absolute;
        right:-10px;
    }
    .infoText {
        font-family: 'Proxima Nova';
        font-style: normal;
        font-weight: 600;
        font-size: 4.44vw;
        line-height: 2.2777vw;
        display: flex;
        /* position: relative;
        left:10px; */
        justify-content: center;
        color: #656565;
        
        margin-left:200px
    }
    
    #cont_img{
        margin-top:10px;
    }
    #contact-right-div{
        margin-top:30px;
        height:45vw;
    }
    .iframe{
        width: 88.88vw;
        height: 66.66vw;
        display: flex;
        position:relative;
        left:0vw;
    }
    
    }
@media only screen and (min-width:360px) and (max-width:500px) {
.Contact{
    margin-top:80vw;
    height:auto;

}
.content-Contact{
    font-family: 'DM Serif Display';
font-style: normal;
font-weight: 400;
font-size: 9.7222vw;
line-height: 13.3333vw;
text-align: center;
color: #056B38;
}


.contact_img{
    margin-left:22vw;;
    width:5.99444vw;
    height:8.563888vw;
}
#loc{
    display: flex;
    position: relative;
    left:25vw;
    top:6vw;
}
#info{
    margin-top:40px;
    position:absolute;
    right:-10px;
}
.infoText {
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 600;
    font-size: 4.44vw;
    /* line-height: 5.2777vw; */
    display: flex;
    /* position: relative;
    left:10px; */
    justify-content: center;
    color: #656565;
    
    margin-left:200px
}

#cont_img{
    margin-top:10px;
}
#contact-right-div{
    margin-top:30px;
    height:45vw;
}
.iframe{
    width: 88.88vw;
    height: 66.66vw;
    display: flex;
    position:relative;
    left:0vw;
}

}

@media screen and (max-width:280px){
    #tech{
        height:60px;
        position: relative;
        top:-2px;
    }
    .Contact{
        margin-top:80vw;
        height:auto;
    
    }
    .content-Contact{
        font-family: 'DM Serif Display';
    font-style: normal;
    font-weight: 400;
    font-size: 9.7222vw;
    line-height: 13.3333vw;
    text-align: center;
    color: #056B38;
    }
    
    
    .contact_img{
        margin-left:22vw;;
        width:5.99444vw;
        height:8.563888vw;
    }
    #loc{
        display: flex;
        position: relative;
        left:35vw;
        top:8vw;
    }
    #info{
        /* margin-top:40px; */
        position:absolute;
        right:-15px;
        
    }
    .infoText {
        font-family: 'Proxima Nova';
        font-style: normal;
        font-weight: 600;
        font-size: 3.2vw;
        line-height: 0.1777vw;
        display: flex;
        /* position: relative;
        left:10px; */
        justify-content: center;
        color: #656565;
        
        margin-left:190px
    }
    
    #cont_img{
        margin-top:10px;
    }
    #contact-right-div{
        margin-top:30px;
        height:45vw;
    }
    .iframe{
        width: 95.88vw;
        height: 80.66vw;
        display: flex;
        position:relative;
        left:0vw;
    }
    
}